.users-wrapper {
  display: flex;
  position: fixed;
  left: 300px;
  top: 125px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fbfbda;
  width: 250px;
  color: #000000;
  border-radius: 15px;
  font-size: "0.85em";
  transition-duration: 0.3s;
  transition-delay: 0.5s;
}
