.month-item {
  display: block;
  text-align: center;
  margin: 10px;
  padding: 10px;
  display: block;
  text-decoration: none;
  color: white;
}

.month-item:hover {
  background-color: #1ee;
  border-bottom: 1px solid black;
  cursor: pointer;
}

.users-wrapper {
  position: absolute;
  list-style: none;
  top: 0;
  left: 250px;
  width: 300px;
  text-align: left;
  margin-top: 30px;
  padding: 0;
  background-color: #fcf807;
  margin-top: 0;
}

.red {
  background-color: #ff2400;
}

.green {
  background-color: #21d100;
}

.blue {
  background-color: #4040ff;
}

.grey {
  background-color: #808080;
}
