.month-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
  height: 30px;
  border-radius: 15px;
  color: white;
  width: 250px;
}

.month-wrapper:hover {
  cursor: pointer;
  transition: all ease-in-out;
  border: 2px solid black;
}

.red {
  background-color: #ff2400;
}

.green {
  background-color: #21d100;
}

.blue {
  background-color: #4040ff;
}

.grey {
  background-color: #808080;
}
